main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 30px 0;    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 20px 0;
}

.inputPadrao {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;

    width: 50%;
}

.botaoEnviar {
    width: 40%;
    padding: 15px 0;

    background: orange;
    color: white;

    border: none;
    border-radius: 10px;

    font-weight: bold;
    font-size: 18px;

    transition: 1s all;

    cursor: pointer;
}

.botaoEnviar:hover {
    background: darkorange;
    transform: scale(1.10);
}